{% extends "base.html" %}

{% load i18n static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'styles/repeat-queue.css' %}" />
{% endblock extra_styles %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{{ project.get_absolute_url }}">{{ project }}</a></li>
  <li class="breadcrumb-item"><a href="{{ queue_url }}">{% translate "Repeats" %}</a></li>
  <li class="breadcrumb-item"><a href="{{ review_url }}">{% translate "Review and apply" %}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{% translate "Places" %}</li>
{% endblock breadcrumbs %}

{% block content %}
  <main class="rq">
    <h1>
      <code>{{ source_text }}</code>
    </h1>
    <p>
      {% translate "Recommended translation:" %} <code lang="{{ language.code }}">{{ target_text }}</code>
    </p>
    <div class="table-scroll"
         role="region"
         tabindex="0"
         aria-label="{% translate 'Places in this group' %}">{% include "repeat_bulk_places_detail.html" %}</div>
  </main>
{% endblock content %}
